body {
    font-family: sans-serif;
    background-color: #FFD800;
}

h1 {
    color: #FFF9D6;
    font-size: 60px;
    text-align: center;
}
.logo {
    width: 169px;
    height: 133px;
}

.logoP {
    font-size: 48px;
    color: #FFF9D6;
    margin-left: 30px;
}

header {
    display: flex;
}

.newpizza {
    width: 415px;
    height: 276px;
    border: 7px solid #FFF9D6;
    border-radius: 10px;
    margin-top: 20px;
}

main {
    text-align: center;
    background-color: #FFE864;
    padding: 30px;
}

.order {
    background-color: #FFD800;
    text-decoration: none;
    border: 7px solid #FFF9D6;
    padding: 10px;
    border-radius: 10px;
    color: #FFF9D6;
    margin-left: 250px;
    margin-right: 250px;
}

a {
    text-decoration: none;
    color: #FFF9D6;
}

.ordermenu {
    display:flex;
    justify-content: space-around;
}

.pizzasnack{
    width: 380px;
    height: 253px;
    margin: 20px;
    border: 7px solid #FFF9D6;
    border-radius: 10px;
}

.kola {
    width: 362px;
    height: 253px;
    margin: 20px;
    border: 7px solid #FFF9D6;
    border-radius: 10px;
}

.cocacola {
    width: 300px;
    height: 210px;
}

.pepsi {
    width: 350px;
    height: 210px;
}

.fanta {
    width: 350px;
    height: 210px;
}

.drinksmenu {
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.drinksdiv {
    border: 7px solid #FFF9D6;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.ML {
    text-decoration: none;
    color: #FFF9D6;
    font-size: 36.5px;
    border: 5px solid #FFF9D6;
    border-radius: 10px;
    padding: 5px;
    background-color: #FFD800;
}

.MLdiv {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.snacksmenu {
    border: 7px solid #FFF9D6;
    background-color: #FFF9D6;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.fri {
    width: 350px;
    height: 300px;
}

.nugets {
    width: 300px;
    height: 300px;
}

.balls {
    width: 350px;
    height: 300px;
}

.pizzadiv {
    border: 7px solid #FFF9D6;
    background-color: #FFF9D6;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;

}

.pizzamenu {
    text-align: center;
}

.pr {
    text-decoration: none;
    color: #FFF9D6;
    font-size: 36.5px;
    border: 5px solid #FFF9D6;
    border-radius: 10px;
    padding: 5px;
    background-color: #FFD800;
    margin-bottom: 100px;
}

.PID {
    margin-top: 30px;
    font-size: 20px;
    color: #FFD800;
    margin-left: 70px;
}
